<div class="row" style="height: fit-content;">
    <div class="col-5">
        <img src="assets/vinyl-record-temp-image.webp"  class="center">  
    </div>
    <div class="col-4">
        <div class="row">
            <h2>Vinyl Title</h2>
        </div>
        <div class="row">
            <h2 class="col-12 artistText truncate"><a>By Band</a></h2>
        </div>
        <div class="row">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In nibh mauris cursus mattis. Justo laoreet sit amet cursus sit amet dictum. Feugiat pretium nibh ipsum consequat nisl vel. Egestas pretium aenean pharetra magna ac placerat. Aliquet bibendum enim facilisis gravida neque. Morbi non arcu risus quis varius quam quisque id. Turpis tincidunt id aliquet risus feugiat in ante metus dictum. Id semper risus in hendrerit gravida rutrum quisque. Ac orci phasellus egestas tellus rutrum tellus pellentesque. Facilisis mauris sit amet massa vitae tortor condimentum. Imperdiet proin fermentum leo vel orci.
            </p>
        </div>
    </div>
</div>